:root {
    /* Green and Red */
    --primary-color: #2ecc71; /* Main color for headers, links, etc. */
    --complementary-color: #e74c3c; /* Complementary color for accents, buttons, etc. */
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-bar {
  width: 100vw;
  background-color: var(--primary-color);
  padding: 2rem;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content:space-evenly;
  
    
}

li {
    display: flex;
    justify-self: flex-end;
}

button {
  background: none;
  border: none;
  background-color: var(--complementary-color);
  padding: 10px;
  border-radius: 5px;
}

.avatar{
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.img-center{
    margin: 2em;
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-width: 100%;
}

.main{
   
}

.welcome h2{
    text-align: center;
    font-size: 32px;
    padding-bottom: 1em;
    color: var(--primary-color);
}
.welcome p{
    padding: 5px;
    margin: 5px;
}