:root {
  /* Define global variables in :root */
  --primary-color: #007BFF;      /* Use for primary elements like text and buttons */
  --secondary-color: #55D8FE;    /* Use for secondary elements like backgrounds */
  --accent-color: #FFFFFF;       /* Use for accent elements like highlights or borders */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-bar {
  width: 100vw;
  padding: 2rem;

}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

li {
  display: flex;
  justify-self: flex-end;
  margin-left: 10px;
  width: 70px;
  padding: 10px 10px;
  border-radius: 5px;
}

li:hover{
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--accent-color);

}



.avatar {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.img-center {
  margin: 2em;
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-width: 100%;
}

.stack h2{
  text-align: center;
  font-size: 2em;
}


@media only screen and (max-width:767px) and (min-device-width:320px) and (max-device-width:480px) {
  .stack h2{
    font-size: 1.5em;
  }
}