:root {
  /* Purple and Yellow */
  --primary-color-purple: #9b59b6; /* Main color for headers, links, etc. */
  --complementary-color-yellow: #f39c12; /* Complementary color for accents, buttons, etc. */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-bar {
  width: 100vw;
  background-color: var(--primary-color-purple);
  padding: 2rem;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content:space-evenly;
  
    
}

li {
    display: flex;
    justify-self: flex-end;
}

button {
  background: none;
  border: none;
  background-color: var(--complementary-color-yellow);
  padding: 10px;
  border-radius: 5px;
}

.avatar{
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.img-center{
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-width: 100%;
}